* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center:first-child {
  height: 8rem;
  width: 100%;
  background-color: rgb(62, 62, 153);
  color: #fff;
}
.title {
  padding-top: 20px;
}
.ready {
  background-color: #eee;
  border-radius: 7px;
  padding: 0;
  box-shadow: 0 0 10px;
}
.main {
  padding: 40px;
}
.main-right {
  border-left: 2px solid rgba(0, 0, 0, 0.267);
}
.main-right > img {
  padding-top: 20px;
  width: 75%;
  margin-left: 10%;
}

.span {
  font-weight: bold;
}

footer.footer {
  position: relative;
  height: 5rem;
  width: 100%;
  background-color: rgba(17, 16, 16, 0.774);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer > .contacts > a {
  text-decoration: none;
  margin: 0 30px;
}
.copyright {
  color: #fff;
}
